.btree-plot-container {
  flex: 1; /* Use the remaining space */
  border-top: 3px solid #ccc; /* Customize the border color and thickness as needed */
  border-bottom: 3px solid #ccc; /* Customize the border color and thickness as needed */
  margin-top: 30px;
}

.btree-input-form-container {
  width: 100%; /* Set a fixed width */
  height: 100%; /* Set the height to match the plot container */
  border: 3px solid #ccc; /* Customize the border color and thickness as needed */
  box-sizing: border-box;
}


.btree-input-form-container input {
  /* Add your custom styles for the input fields here */
  width: 30px;
  padding: 5px;
  border: 1px solid #aaa;
  border-radius: 4px;
}
