/* Apply these styles to the body to make the .btree-plot-container span the whole screen */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the body height to occupy the full viewport height */
}


/* Styles for .btree-container */
.btree-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 70px; /* Set a 50px margin at the top */
  height: calc(100vh - 70px); /* Calculate the height to fill the remaining screen space after considering the top margin */
  border-bottom: 3px solid #ccc;
}

/* Styles for .btree-plot-container */
.btree-plot-container {
  width: 100%;
  flex: 1;
  background-color: white; /* Set the background color for the plot container */
  border-bottom: 3px solid #ccc;
}

/* Styles for .btree-input-form-container */
.btree-input-form-container {
  position: absolute;
  top: 30px; 
  left: 30px; 
  width: 100%;
  max-width: 270px;
  box-sizing: border-box
}

.btree-sequence-control-container {
  position: absolute;
  top: 30px; /* Adjust the top position to add space from the top */
  right: 30px; /* Adjust the left position to add space from the left */
  width: 100%;
  max-width: 250px;
  box-sizing: border-box
}

