.custom-display-toggle-button {
    height: 20px !important; /* Set your desired height */
    width: 200px !important; /* Set your desired width */
    font-size: 16px !important;
    background-color: #cdd6e0 !important;
    border: 0px solid #ccc !important;
    border-right: 1px solid #70757a!important;
    border-left: 1px solid #70757a !important;
    border-radius: 0px !important;

  }

  .custom-display-toggle-button:hover {
    background-color: #fcdfb4 !important; /* Lighten background on hover */
  }

.MuiToggleButton-root.Mui-selected {
    background-color: #f7b44f !important; /* Use your desired color here */ 
    border-right: 1px solid #7a4a02 !important; /* Add a 1px border wth desired color */
    border-left: 1px solid #7a4a02 !important; /* Add a 1px border wth desired color */

    color: #492c01 !important;
  }


  .navbar {
    border-top: 1px solid #70757a;
    border-bottom: 1px solid #70757a;
    background-color: #cdd6e0 !important;; /* Set the background color of the navbar */
    color: white; /* Set the text color */
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: center; /* Center the content horizontally */
    padding: 0px; /* Add padding for spacing */
  }