.ui-component {
  background-color: rgba(242,242,242,0.8); 
  border: grey solid 1px;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  cursor: grab;
  z-index: 10;
}

.ui-close-button {
  padding: 0px;
  background-color: transparent;
  color: black;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.draggable-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}

.ui-title {
  flex-grow: 1; /* Allow the title to take up the available space */
  text-align: center; /* Center the title text */
  margin: 0; /* Remove default margin to avoid spacing issues */
}
.draggable-icon {
  width: 18px; /* Adjust the size of the icon as needed */
}
